body {
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	font-size: 12pt;
	font-family: 'Open Sans', sans-serif;
}

body div {
	margin: 0;
	padding-left: 25%;
	padding-right: 25%;
}

#top-menu {
	font-weight: bold;
	text-align: center;
	letter-spacing: -0.1em;
	color: #ffffff;
	background-color: #ee554e;
	padding: 5em 0 0 0; /* top | right | bottom | left */
}

/* Red Dog logo */
#reddog-logo {
	position: absolute;
	top: 40px;
	left: 55px;
}

/* Containers of the top menu links */
#top-menu span {
	display: inline-table;
	margin-right: 2em;
	/* TODO warning: Pixel units here. Will this scale well? */
	line-height: 18px;
	margin-bottom: -4px;
}

/* top menu links */
#top-menu span a {
	text-decoration: none;
	color: #ffffff;
}

#top-menu span a.selected {
	color: #f3e30a;
}

/* top menu section indicator (the yellow square) */
.current-section-indicator {
	width: 30px;
	height: 10px;
	background-color: #f3e20c;
}

#header {
	text-align: left;
	color: #2f2f2f;
	padding-top: 4em;
	padding-bottom: 2em;
}

#content {
	font-size: 0.9em;
	text-align: left;
	color: #000000;
	padding-top: 2.5em;
	padding-bottom: 3em;

	/* Target pixels: */
	/* |------------------ 1350 ------------------| */
	/* |----350---|-----------------|-----275-----| */
	padding-left: 26%;
	padding-right: 20%;
}

.news {
	background-color: #f3efef;
}

#breadcrumbs {
	margin-left: -5em;
	padding-left: 0;
	font-size: 1.1em;
}

#content h1 {
	font-weight: bold;
	color: #ed544c;
	font-size: medium;
	margin-top: 1.5em;
	margin-left: -2em;
	margin-bottom: -2em;
}

#content h2 {
	font-weight: bold;
	font-size: medium;
	margin-top: 3em;
	margin-left: -1em;
}

/*
#content h3 {
	font-weight: bold;
	font-size: medium;
}
*/

#content p, #content ul, #content ol {
	/* padding-left: 6em; */
}

#content a {
	color: #ed544c;
	text-decoration: none;
}

#show-more {
	padding-bottom: 20pt;
	background-color: #f3efef;

	display: flex;
	justify-content: center;
	align-items: center;
}

#show-more a {
	color: #ed544c;
	font-weight: bold;
	font-size: 1.5em;
}

#show-more a.selected {
	color: #f2c40c;
}

#show-more a, #show-more img {
	margin-left: 0.4em;
}

#copyright {
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: -0.1em;
}

#copyright, #logos {
	text-align: center;
	color: #ffffff;
	background-color: #ee554e;
	padding-top: 10pt;
	padding-bottom: 10pt;
}

#logos img {
	margin-left: 1em;
	margin-right: 1em;
}

pre code {
	/* font-size: 13px; */
	display: block;
	overflow: auto;
	padding: 0.5em 3em;
}

code {
	background-color: #e0e0e0;
}

.continue-reading {
	text-align: right;
	color: #ee554e;
}
