body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 12pt;
	font-family: 'Open Sans', sans-serif;
}

body > div {
	padding-left: 25%;
	padding-right: 25%;
}

#top-menu {
	text-align: center;
	padding: 5em 0 0 0; /* top | right | bottom | left */
	background-color: #ee554e;
}

/* Red Dog logo */
#reddog-logo {
	position: absolute;
	top: 0;
	left: 55px;
}

/* Containers of the top menu links */
#top-menu span {
	font-weight: bold;
	letter-spacing: -0.1em;
	display: inline-table;
	margin-right: 2em;
	/* TODO warning: Pixel units here. Will this scale well? */
	line-height: 18px;
	margin-bottom: -4px;
}

/* top menu links */
#top-menu span a {
	text-decoration: none;
	color: #ffffff;
}

#top-menu span a.selected {
	color: #f3e30a;
}

.content {
	font-size: 0.9em;
	text-align: left;
	color: #000000;
	background-color: #ffffff;
	padding-top: 2.5em;
	padding-bottom: 3em;
}

.content h1 {
	font-weight: bold;
	color: #ed544c;
	font-size: medium;
	margin-top: 1.5em;
	margin-left: -2em;
}

.content h2 {
	font-weight: bold;
	font-size: medium;
	margin-top: 3em;
	margin-left: -1em;
}

.content a {
	color: #ed544c;
	text-decoration: none;
}

.content pre code {
	display: block;
	overflow: auto;
	padding: 0.5em 3em;
}

.content code {
	background-color: #e0e0e0;
}

.content .continue-reading {
	text-align: right;
}

#news {
	background-color: #f3efef;
}

#breadcrumb {
	padding-bottom: 20pt;
	background-color: #f3efef;
	font-size: 1.5em;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

#breadcrumb * {
	margin-left: 0.4em;
}

#breadcrumb span.ellipsis {
	font-weight: normal;
}

#breadcrumb a {
	color: #ed544c;
}

#breadcrumb a.selected {
	color: #f2c40c;
}

#copyright {
	color: #ffffff;
	background-color: #ee554e;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: -0.1em;
}

#copyright, #logos {
	text-align: center;
	padding-top: 10pt;
	padding-bottom: 10pt;
}

#logos img {
	margin-left: 1em;
	margin-right: 1em;
}

blockquote {
	padding: 1em;
	border: 1px solid #ddd;
	font-size: 90%;
}

/* Code selectors */

.codeblock-menu {
	text-align: right;
	margin-right: 1em;
	margin-bottom: -1em;
}

.code-selector-tab {
	background-color: #F8F8F8;
	font-size: 80%;
	font-weight: bold;
	padding: 1px 1em;
	border: 1px solid #DDD;
	border-bottom-style: none;
	border-radius: 5px 5px 0px 0px;
	cursor: pointer;
}

.code-selector-tab:hover, .code-selector-tab.selected {
	background-color: #DDD;
}

