<!DOCTYPE html>
<html lang="en">
<head>
	{% include head %}
</head>
<body>
{% include google-analitics %}
	<div id="top-menu">
		{% include top-menu %}
	</div>
	<div class="content">
		{% if page.breadcrums %}
			<div class="nav-breadcrumbs">
			{% assign min = 0 %}
			{% assign max = page.breadcrums.size | minus: 1 %}
			{% for post in (min..max) %}
				{% capture mod %}{{ post | modulo: 2 }}{% endcapture %}
				{% if mod == '0' %}
					{% capture desc %}{{ page.breadcrums[post] }}{% endcapture %}
				{% else %}
					<a href="{{ page.breadcrums[post] }}">{{ desc }}</a> &gt;
				{% endif %}
			{% endfor %}{{ page.title }}
			</div>
		{% endif %}
		{{ content }}
		{% if page.wheretogo %}
			<h2>Where to go next</h2>
			<div class="nav-wheretogo">
			The following page of this module is 
			{% assign min = 0 %}
			{% assign max = page.wheretogo.size | minus: 1 %}
			{% for post in (min..max) %}
				{% capture mod %}{{ post | modulo: 2 }}{% endcapture %}
				{% if mod == '0' %}
					{% capture desc %}{{ page.wheretogo[post] }}{% endcapture %}
				{% else %}
					{% if post >= 2 %}
						or
					{% endif %}
					<a href="{{ page.wheretogo[post] }}">{{ desc }}</a>
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
	</div>
	<div id="copyright">
		© Red Dog 2018 &nbsp; &#124; &nbsp; <a href="{{ site.baseurl }}/doc/20180115_AP_Reddog.pdf" style="color:white;">Privacy Notice</a>
	</div>
	<div id="logos">
		{% include footer-logos %}
	</div>

</body>
</html>
