<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>

	<div id="top-menu">
		<img src="img/logo-reddog.png">
		<span>Home</span>
		<span>Documentation</span>
		<span>Download</span>
		<span>FAQ</span>
		<span>Report a Bug/Github</span>
		<span>About</span>
		<span>Contact</span>
	</div>
	<div id="header">
		<p>
			<strong>Red Dog</strong> is a free and open
			source Java implementation of an RDAP
			server currently under development.
		</p>
		<p class="continue-reading">
			Continue Reading
		</p>
	</div>
	<div id="content">
		{{ content }}
	</div>
	<div id="show-more">
		<img src="img/show-more.png" alt="Show More" />
	</div>
	<div id="copyright">
		© RedDog
	</div>
	<div id="logos">
		<img src="img/logo-tec.png" />
		<img src="img/logo-nic.png" />
	</div>

</body>
</html>
