<!DOCTYPE html>
<html lang="en">
<head>
	{% include head %}

</head>
<body>
{% include google-analitics %}

	<div id="top-menu">

		{% include top-menu %}

	</div>
	<div class="content">
		<p>
			<strong>RedDog</strong> is a free and open
			source Java implementation of an RDAP
			server.
		</p>
		<p>
			<strong>RDAP</strong> (<em>Registration Data Access Protocol</em>) is a successor of WHOIS&mdash;a protocol used for querying information regarding Internet resources (such as domain names, IP addresses and autonomous system numbers).
		</p>
		<p class="continue-reading">
			<a href="{{ site.baseurl }}/intro.html">Continue Reading</a>
		</p>
	</div>
	<div id="news" class="content">
		<h1>NEWS</h1>
		{{ content }}
	</div>
	<div id="breadcrumb">
		{% include news-breadcrumb %}
	</div>
	<div id="copyright">
		© RedDog 2021 &nbsp; &#124; &nbsp; <a href="{{ site.baseurl }}/doc/20210312_AP_Reddog_EN_ES_Transicion.pdf" style="color:white;">Privacy Notice</a>
	</div>
	<div id="logos">
		{% include footer-logos %}
	</div>

</body>
</html>
