<!DOCTYPE html>
<html lang="en">
<head>
	{% include head %}
</head>
<body>

	<div id="top-menu">
		{% include top-menu %}
	</div>
	<div class="content">
		<p>
			<strong>Red Dog</strong> is a free and open
			source Java implementation of an RDAP
			server currently under development.
		</p>
		<p>
			<strong>RDAP</strong> (<em>Registration Data Access Protocol</em>) is a successor of WHOIS&mdash;a protocol used for querying information regarding Internet resources (such as domain names, IP addresses and autonomous system numbers).
		</p>
		<p class="continue-reading">
			<a href="{{ site.baseurl }}/intro.html">Continue Reading</a>
		</p>
	</div>
	<div id="news" class="content">
		<h1>NEWS</h1>
		{{ content }}
	</div>
	<div id="breadcrumb">
		{% include news-breadcrumb %}
	</div>
	<div id="copyright">
		© Red Dog 2017
	</div>
	<div id="logos">
		{% include footer-logos %}
	</div>

</body>
</html>
