<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>

	<div id="top-menu">
		<img id="reddog-logo" src="img/logo-reddog.png" />
		<span>
			<a class="selected" href="index.html">Home</a>
			<br />
			<img src="img/menu-select.png" />
		</span>
		<span><a href="documentation.html">Documentation</a></span>
		<span>Download</span>
		<span>FAQ</span>
		<span>Report a Bug/Github</span>
		<span>About</span>
		<span>Contact</span>
	</div>
	<div id="header">
		<p>
			<strong>Red Dog</strong> is a free and open
			source Java implementation of an RDAP
			server currently under development.
		</p>
		<p>
			<strong>RDAP</strong> (<em>Registration Data Access Protocol</em>) is a successor of WHOIS&mdash;a protocol used for querying information regarding Internet resources (such as domain names, IP addresses and autonomous system numbers).
		</p>
		<p class="continue-reading">
			Continue Reading
		</p>
	</div>
	<div id="content" class="news">
		{{ content }}
	</div>
	<div id="show-more">
		<a href="potato">&lt;</a>
		<img src="img/logo-dog.png" alt="Show More" />
		<a href="potato" class="selected">1</a>
		<a href="potato">2</a>
		<a href="potato">3</a>
		<a href="potato">4</a>
		<a href="potato">5</a>
		<a href="potato">6</a>
		<a href="potato">7</a>
		<a href="potato">8</a>
		<a href="potato">9</a>
		<a href="potato">10</a>
		<a href="potato">&gt;</a>
	</div>
	<div id="copyright">
		© RedDog 2017
	</div>
	<div id="logos" style="background-color: #ff8b7e">
		<img src="img/logo-tec.png" />
		<img src="img/logo-nic.png" />
	</div>

</body>
</html>
