<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>rdap-server</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- START DEMO CONFIG -->

	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:mem:rdap</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>demo</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>mypass1</param-value>
	</context-param>
	<listener>
		<listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>
	<!-- END DEMO CONFIG -->

	<error-page>
		<location>/exception</location>
	</error-page>
</web-app>